.About{
    position: inherit;
    align-items: center;
    background-color: black;
}

.About-Section{
    margin: 0;
    height: 100vh;
    background-color: black;
    text-align: center;
}

.About-Header{
    position: relative;
    text-align: center;
    color: white;
    padding: 50px;
  }

.About-Section p{
    color:whitesmoke
}