*{
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.twitchvid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.mainvideo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
  padding-top: 10px;
}

.hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color:aliceblue;  
}
